<h1>新規質問</h1>
<%= form_for(@question) do |f| %>
  <div><%= f.text_field :text, placeholder: "入力してください", class: 'text-center form-control' %></div>
  <div><%= f.submit '新規作成', class:'btn btn-primary form-control'%></div>
<% end %>
<%= link_to '戻る', questions_path, class:'btn btn-outline-primary'%>