@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2C7CFF;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover{
  color: #005FFF;
  text-decoration: none;
}